{% load static %}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Emotion-Based Music Player</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="shortcut icon" href="#">
</head>

<body>
    <div class="music-container">
        <div class="current-mood">
            <h1 id="status"></h1>
        </div>

        <div class="current-song">
            <div class="current-song-2">
                <h5 id="current_song"></h5>
            </div>
        </div>

        <div class="music-content">
            <div id="bg-image">

                <div id="volume-container">
                    <input type="range" class="slider" id="volumeslider" min="0" max="100" value="100" step="1">
                </div>

                <div id="volume-low-button">
                    <img src="{% static 'imgs/volume-low.png' %}" id="volume-down">
                </div>

                <div id="volume-high-button">
                    <img src="{% static 'imgs/volume-high.png' %}" id="volume-up">
                </div>

                <div id="music-image">
                    <div id="circle-image">
                        <img src="{% static 'imgs/square.jpg' %}" alt="">
                    </div>
                </div>

                <div id="currentTime">
                    <span id="curtimetext">00:00</span>
                    <span id="durtimetext">00:00</span>
                </div>

                <div id="mute-button">
                    <button id="mutebtn" style="background: transparent; border: none;"><img src="{% static 'imgs/speaker.png' %}" alt=""></button>
                </div>

                <div id="seek-container">
                    <input type="range" class="seekslider" id="seekslider" min="0" max="100" value="0" step="1">
                </div>

                <div id="buttons">
                    <div id="repeat-button">
                        <button class="rep" id="repeat" style="background: transparent; border: none;"><img src="{% static 'imgs/loop.png' %}" alt=""></button>
                    </div>
                    <div id="prev-button">
                        <button class="prev" id="prevbtn"><img src="{% static 'imgs/prev_song.png' %}" alt=""></button>
                    </div>
                    <div id="play-button">
                        <button class="play" id="playpausebtn"><img src="{% static 'imgs/play.png' %}" alt=""></button>
                    </div>
                    <div id="next-button">
                        <button class="next" id="nextbtn"><img src="{% static 'imgs/next_song.png' %}" alt=""></button>
                    </div>
                </div>
            </div>
        </div>

        <div class="mood-button">
            <button id="test" style="margin-top: 15px; border-radius: 5px; height: 30px; width: 150px; color: white; background: #333333; border: none;">Detect New Mood</button>
        </div>
    </div>

    <!--Problem is the expression variable isn't being passed to here properly-->
    <div id='imageCapture' style='display: none'></div>

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script type="text/javascript" src='https://cdnjs.cloudflare.com/ajax/libs/webcamjs/1.0.25/webcam.js'></script>
    <script src="{% static 'js/main.js' %}"></script>

</body>

</html>