<!DOCTYPE html>
{% load static %}
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Emotion-Based Music Player</title>
    <link rel="stylesheet" href="css/styles.css">
</head>

<body>
    <!--Center align all the stuff-->
    <div class="content-wrapper">

        <!--Current Mood: etc-->
        <div class="mood-wrapper box-theme">
            <h1 id="status"></h1>
        </div>


        <!--Now Playing: etc-->
        <div class="current-song-wrapper">
            <h1 id="current_song"></h1>
        </div>

        <!--Stuff in bottom rectangle-->
        <div class="music-player-wrapper">

            <!--Album img-->
            <div class="album-img-wrapper">
                <!--Allow this to be altered as song changes-->
                <img src="song_imgs/speed_of_light.jpg">
            </div>

            <!--Bottom icons-->
            <div class="bottom-icons-wrapper">

                <!--On click, bring up volume adjustment bar, allow volume adjustment-->
                <!--If bar is all the way down, switch icon to mute.png-->
                <!--If icon is mute.png and clicked again, it remains mute.png-->
                <div class="volume-button-wrapper">
                    <img src="imgs/volume-low.png" alt="" id="volume-down">
                    <input type="range" class="slider" id="volumeslider" min="0" max="100" value="100" step="1">
                    <img src="imgs/volume-high.png" alt="" id="volume-up">
                </div>

                <!--On click, play previous song for current mood-->
                <!--Both this and the next button should switch the album img, start and end times, reset progress bar-->
                <div class="prev-button-wrapper">
                    <button id="prev_button"></button>
                </div>

                <!--On click, play next song for current mood-->
                <div class="next-button-wrapper">
                    <button id="next_button"><img src="imgs/next_song.png"></button>
                </div>

                <!--Just displays current play time-->
                <div class="current-time">
                    <span id="curtimetext">00:00</span>
                    <span id="durtimetext">00:00</span>
                </div>

                <!--Progress bar for song-->
                <input type="range" class="seekslider" id="seekslider" min="0" max="100" value="0" step="1">

                <div id="buttons">
                    <!--Loop button-->
                    <button class="repeat" id="repeat">
                        <img src="imgs/loop.png" alt="">
                    </button>

                    <!--Play/pause button-->
                    <button class="play" id="playpausebtn">
                        <img src="imgs/play.png" alt="">
                    </button>

                    <!--Next song-->
                    <button class="next" id="nextbtn">
                        <img src="imgs/next_song.png" alt="">
                    </button>

                    <!--Prev song-->
                    <button class="prev" id="prevbtn">
                        <img src="imgs/prev_song.png" alt="">
                    </button>
                </div>
            </div>
        </div>

        <!--Detect New Mood button-->
        <div class=" detect-new-mood-wrapper">
            <!--Overlay button on black box on white box-->
            <div class="white-box-wrapper">
            </div>
            <div class="black-box-wrapper">
            </div>
            <div class="new-mood-button-wrapper">
                <button id="new_mood_button">Detect New Mood</button>
            </div>
        </div>

    </div>

    <!--Image feed, if needed-->
    <img src="{% url 'video_feed' %}">

    <!--Problem is the expression variable isn't being passed to here properly-->
    <script type="text/javascript">
        setInterval(function () {
            document.getElementById("status").innerHTML = "Current Mood: {{exp}}";
        }, 100);
    </script>

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="js/main.js"></script>
</body>

</html>
